 .About {
    main {
        grid-row: 2/5;
        grid-column: 3/11;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .social {
            width: 100%;
            .icons {
                width: 50vw;
                margin: 10px auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                a {
                    color: var(--secondary);
                    font-size: 1.8em;
                }
            }
        }
        .project {
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            margin: calc(var(--vh, 1vh) * 6) auto;
            button {
                background: #364F6B;
                color: var(--primary);
                border: none;
                font-family: 'Ruluko', sans-serif;
                width: 140px;
                height: 45px;
                padding: 10px 20px;
                border-radius: 2em;
                font-size: 1em;
                display: flex;
                align-items: center;
                justify-content: space-between;
                grid-row: 2/2;
                justify-self: center;
                cursor: pointer;
                img {
                    width: 45px;
                }
            }
        }
        .subheader {
            a {
                color: var(--primary);
                text-decoration: none;
                font-family: 'Sarabun', sans-serif;
            }
        }
    }
}