.Home {
    position: relative;
    .start {
        grid-column: 3/11;
        pointer-events: none;
        opacity: 0;
    }
    .game, .game-summary {
        grid-column: 3/11;
        grid-row: 2/4;
        align-self: center;
        justify-self: center;
        text-align: center;
        opacity: 0;
    }
    .game {
        pointer-events: all;
        input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            cursor: default;
            opacity: 0;
        }
        .box {
            width: 200px;
            height: 200px;
            background: #364F6B;
            border-radius: .2em;
            font-size: 5em;
            margin: 25px 0;
            text-transform: uppercase;

            // flex doesnt align perfectly in the center
            padding-top: 42px;
        }
        .stopwatch {
            color: var(--primary);
        }
    }
    .game-summary {
        opacity: 1;
        background: #364F6B;
        padding: 30px;
        border-radius: .8em;
        pointer-events: none;
        h1 {
            font-family: 'Nunito', sans-serif;
            font-weight: 700;
        }
        p {
            font-size: 1.1em;
            margin: 40px 0;
        }
        button {
            background: var(--secondary);
            font-family: 'Nunito', sans-serif;
            font-weight: 600;
            font-size: 1.1em;
            color: var(--primary);
            padding: 7px 18px;
            border: none;
            border-radius: 1em;
            cursor: pointer;
        }
    }
    
}