 .Leaderboard main{
    grid-row: 2/5;
    grid-column: 3/11;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    .buttons {
        width: 45vw;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        button {
            background: var(--secondary);
            color: var(--primary);
            border: none;
            padding: 5px 16px;
            border-radius: 2em;
            font-family: 'Nunito', sans-serif;
            font-size: .8em;
            text-transform: uppercase;
        }
    }
    .scores {
        width: 70vw; 
        height: calc(var(--vh, 1vh) * 50); 
        overflow: auto;
        margin: 30px 0;
        background: #364F6B;
        border-radius: 1em;
        padding: 13px;
        table {
            font-family: 'Sarabun', sans-serif;
            width: 100%;
            tr {
                height: 50px;
                text-align: left;
                th + :last-child {
                    font-size: 1.3em;
                    color: var(--symbol);
                }
            }
        }
    }
    .scores::-webkit-scrollbar {
        width: 7px;
    }
    .scores::-webkit-scrollbar-track {
        border-radius: 10px;
    }
    .scores::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, .4);
        border-radius: 2em;
        outline: 1px solid slategrey;
    }
}

@media screen and (max-width: 425px) {
    .Leaderboard main {
        .buttons {
            width: 58vw;
        }
        .scores {
            width: 85vw; 
            font-size: .9em;
        }
    }
}