.Menu {
    border-top: 1px solid rgba(78, 119, 160, .4);
    height: calc(100vh - 82vh - 70px);
    ul {
        display: flex;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        .option {
            text-decoration: none;
            color: var(--secondary);
            li {
                list-style-type: none;
                font-family: 'Nunito', sans-serif;
                font-weight: 700;
                text-align: center;
                .icon {
                    font-size: 1.8em;
                }
                h4 {
                    text-transform: uppercase;
                    font-size: .7em;
                    margin-top: 6px;
                }
            }
        }
        .option.active {
            color: white;
        }
    }
}

@media screen and (max-width: 420px) {
    .Menu ul .option li {
        .icon {
            font-size: 1.4em;
        }
        h4 {
            font-size: .55em;
        }
    }
}