/* Reset */

html, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #f0f0f0;
  --secondary: #768390;
  --interface: #364F6B;
  --symbol: #7AD9F5;
}

/* fonts */

@import url('https://fonts.googleapis.com/css?family=Nunito:700|Roboto|Ruluko|Sarabun:600&display=swap');

/* font-family: 'name', sans-serif; */

/* basic styles */

.App {
  height: 100vh;
  background: #243548;
  font-size: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

section {
  height: 82vh;
  grid-template-rows: repeat(4, 1fr);
  color: var(--primary);
}

section p {
    font-family: 'Ruluko', sans-serif;
    margin: 20px 0;
}

section header {
    grid-column: 3/11;
    align-self: center;
    text-align: center;
}

section h1 {
    font-family: 'Sarabun', sans-serif;
    font-size: 1.2em;
    letter-spacing: .04em;
}

section main {
    grid-row: 2/4;
    align-self: center;
    text-align: center;
}